
<% if @flights.present? %>
  <div class ='bg-orange-300 p-6 mb-4 w-11/12 md:w-1/2 m-auto border border-black'>
    <h2 class='font-bold text-lg'>Choose a Flight:</h2>
    <h2><strong>Dep Date: </strong><%= @flights.first.dep_date.strftime('%a, %B %d, %Y') %></h2>
    <h2><strong>Itinerary: </strong><%= @flights.first.depart.code %> &#x2192 <%= @flights.first.arrival.code %></h2>
    <%= form_with url: '/bookings/new', method: 'get', local:true, class: 'pt-4' do |f| %>
      <% @flights.each do |flight| %>
        <%= f.radio_button 'flight', flight.id, { required: 'required' } %>
        <span>
          <strong>Flight No: </strong><%= flight.id %>, 
          <strong>Departure Time: </strong><%= flight.dep_time.strftime('%l:%M %P') %>, 
          <strong>Flight Time: </strong><%= flight.flight_time %> 
        </span><br/>
      <% end %>
      <%= f.hidden_field :no_pass, :value => params[:search][:no_pass] %>
      <%= f.submit 'Book Flight', class: 'px-2 py-1 mt-2 bg-blue-400 cursor-pointer rounded hover:bg-blue-500 hover:text-white' %>
    <% end %>
  </div>
<% end %>
