
<%= form_with model: @booking, class: 'bg-orange-300 p-6 my-4 w-11/12 md:w-1/2 m-auto border border-black' do |f| %>
  <div>
    <h2 class = 'text-lg font-bold' >Flight Details</h2>
    <strong>Flight No: </strong><%= @flight.id %><br/>
    <strong>Departure Date: </strong><%= @flight.dep_date.strftime('%a, %B %d, %Y') %><br/>
    <strong>Departure Time: </strong><%= @flight.dep_time.strftime('%l:%M %P') %><br/>
    <strong>Itinerary: </strong><%= @flight.depart.code %> &#x2192
    <%= @flight.arrival.code %><br/>
  </div>
  <br/>
  <h2 class='text-lg font-bold'>Enter Passenger Info: </h2>
  <%= f.fields_for :passengers do |pass_form| %>
    <div class='underline'>Passenger <%= pass_form.index + 1 %>:</div>
    <%= pass_form.label 'Name: ' %><br/>
    <%= pass_form.text_field :name, required: 'required', class: 'border border-black'%><br/>
    <%= pass_form.label 'Email: ' %><br/>
    <%= pass_form.text_field :email, required: 'required', class: 'border border-black' %><br/>
  <% end %>
  <%= f.hidden_field :flight_id, :value => @flight.id %>
  <%= f.submit 'Submit', class: 'px-2 py-1 mt-2 bg-blue-400 cursor-pointer rounded hover:bg-blue-500 hover:text-white' %>
  <%= link_to 'Cancel', root_path, class: 'px-2 py-1 mt-2 bg-gray-400 cursor-pointer rounded hover:bg-gray-600 hover:text-white' %>

<% end %>
