<div class='flex flex-col md:flex-row md:justify-around w-5/6 p-6 bg-teal-300 m-auto'>
  <div class='items-center'>
    <h4 class='font-bold text-xl'>About</h4>
    <ul>
      <li><%=link_to 'Our Story', root_path %></li>
      <li><%=link_to 'Press Releases', root_path %></li>
      <li><%=link_to 'Investor News', root_path %></li>
      <li><%=link_to 'Sky Blog', root_path %></li>
      <li><%=link_to 'Careers', root_path %></li>
    </ul>
  </div>
  <div>
    <h4  class='font-bold text-xl'>Customer Service</h4>
    <ul>
      <li><%= link_to 'Contact', root_path %></li>
      <li><%= link_to 'Tweet us', root_path %></li>
      <li><%= link_to 'Good luck...', root_path %></li>
    </ul>
  </div>
  <div>
    <h4  class='font-bold text-xl'>Misc Policies</h4>
    <ul>
      <li><%= link_to 'Purchase/Refunds', root_path %></li>
      <li><%= link_to 'Delays/Cancellations', root_path %></li>
      <li><%= link_to 'Green/Sustainability', root_path %></li>
      <li><%= link_to 'Site Security, Cookies, Privacy', root_path %></li>  
      <li><%= link_to 'Other Legalese', root_path %></li>
    </ul>
  </div>
</div>