<!DOCTYPE html>
<html>
  <head>
    <title>TOPRailsFlightBooker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body class='bg-orange-200'>
    <nav class='sticky top-0 flex items-center justify-between bg-teal-400 py-4 px-6'>
      <div class='flex flex-row'>
        <%= image_tag 'odin_logo.svg', size:'25x10', alt: 'TOP logo'%>
        <%= link_to "Odin Airlines &#x2708".html_safe, 'https://www.theodinproject.com/lessons/building-advanced-forms', class: 'ml-2 text-2xl font-bold'%>
      </div>
      <div>
        <%= link_to 'book flight', root_path, class: 'mr-4 hover:underline hover:text-blue-600'%>
        <%= link_to 'find booking', search_bookings_path, class: 'hover:underline hover:text-blue-600'%>
      </div>
    </nav>
    <%= yield %>
    <%= render partial: 'fillers/block1'%>
    <%= render partial: 'fillers/block2'%>
    <%= render partial: 'fillers/block3'%>

    <footer class = 'relative bottom-0'>
      <%= render partial: 'layouts/footer'  %>
    </footer>
  </body>
</html>
